# Configurações do Supabase
SUPABASE_URL=https://jqrtyqsnoskeyfcffjdx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key_aqui

# Configurações do Resend
RESEND_API_KEY=sua_chave_resend_aqui
EMAIL_DESTINO=jardeldssbarbeiro@gmail.com
